* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora !important;
}
body {
  color: #120b48;
}
img {
  border-radius: 0.6em;
}
video {
  width: 550px;
  height: 300px;
  border-radius: 2rem;
}
